@page "/AboutMe"
@using Application.Client.Repositories
@using Application.Client.Services
@using Application.Shared.AboutMePage

<section id="testId" class="pt-page pt-page-current pt-page-moveFromRight" data-id="about_me">
    <div class="border-block-top-110"></div>
    <div class="section-inner">
        <div class="section-title-block">
            <div class="section-title-wrapper clearfix">
                <h2 class="section-title">About Me</h2>
                <h5 class="section-description">@AboutMe.Keywords</h5>
            </div>
        </div>

        <div class="row">
            <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">
                <div class="my-photo-block tilt-effect">
                    <img src="@AboutMe.ImageSource" alt="me">
                </div>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4">
                <h3>@AboutMe.Title</h3>
                <p>@AboutMe.Description</p>
                <p><b>Future ambitions:</b></p>
                <p><i>@AboutMe.FutureAmbitions</i></p>
            </div>

            <div class="col-sm-6 col-md-6 col-lg-4 subpage-block">

                <InfoBlock Info="@AboutMe.Info"/>

                <SocialLinksBlock Links="@AboutMe.SocialLinks"/>

            </div>
        </div>

        <ServicesBlock Services="@AboutMe.Services"/>
        <TestimonialsBlock />
        <FunFactsBlock FunFacts="@AboutMe.FunFacts"/>

    </div>
</section>

@code
{
    [Inject] public INavigationService NavigationService { get; set; }
    [Inject] public IJSRuntime Js { get; set; }
    [Inject] public IAboutMePageDataRepository Repository { get; set; }

    public AboutMe AboutMe { get; set; } = new AboutMe();

    protected override async Task OnInitializedAsync()
    {
        NavigationService.AnimatePageRemovalAsync = AnimatePageRemovalAsync;

        AboutMe = await Repository.GetAboutMeAsync();
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
        => await Js.InvokeVoidAsync("window.initAboutMe");

    private async Task AnimatePageRemovalAsync()
    {
        await Js.InvokeVoidAsync("testAnimationFunction", 17);

        await Task.Delay(300);
    }
}
